body {
  margin: 0 3.5%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menus{
  width: 20%;
  height: 10;
  float: left;
}

table {
  float: left;
  width: 80%;
}

.menuStyle{
  background-color: grey;
  padding: 5%;
  margin: 5% 2.5%;
  border-radius: 20%;
}

input,
label{
  clear:both;
  
}
th{
  text-align: left;
}